@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    padding:0px;
    margin: 0px;
}

body{
    font-family: 'Inter', sans-serif;
}
header{
    height: 100vh;
    background-image: url(images/bannar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,.7);
    background-blend-mode: overlay;
    width:100%;
    margin-bottom:100px;   
}

/* ----------home banner container style start from here here----------------- */

.home{
  text-align: center;
   
}
.title{
  padding-top: 210px;
  color:white;
  font-style: normal;
  font-size:65px;
  font-weight: 700;
  line-height: 79px;

}

.description{
    color: #FFFFFF;
    font-size:18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.donate-btn{
    padding: 15px 16px;
    border-radius: 5px;
    background-color: #FF5959;
    border:none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.fa-hand-holding-medical{
    padding: 5px;
}

/* Start donate today */
.donation-amount-container{
    text-align: center;
}

.detail h1{
    color: #121212;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 20px;
}
.detail p{
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

}
.all-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-items{
    color: #707070;
    font-weight: 900;
    font-size: 30px;
    padding:50px;

}
.category{
    padding: 30px;
    margin-bottom:10px;
  
}
#donate-amount{
    background: #FFEEEE;
    border:2px solid #FF5959;
    border-radius: 5px;
    color:#FF5959;
    
}
.amount-input{
    color: #B3B3B3;
    font-size: 18px;
    border:none;
    font-weight: 400;
    text-align: center;
    outline: none;
}

hr{
    width: 765px;
    margin:10px auto; 
}

.donate-btn a{
    text-decoration: none;
    color:white;
}
.donate-link{
    margin-top: 18px;
}

/* End donate today */


/* start footer area*/
.footer-container{
    text-align: center;
    margin-top: 10px;
}
.footer{
    padding:30px;
    background-color: black;
    color: white;
}

.footer h2{
    font-family: 'Lobster';
    font-style: italic;
    font-weight: 400;
    color:#FF5959;
    font-size:36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
    
}
.footer p{
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 400;
   color: #D9DBE1;
   font-size: 16px;
   line-height: 24px;
}

/* End footer area*/
