@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    padding:0px;
    margin: 0px;
}

body{
    font-family: 'Inter', sans-serif;
}
header{
    height: 100vh;
    background-image: url(images/bannar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,.6);
    background-blend-mode: overlay;
    width:100%;
    margin-bottom:100px;   
}

/* ----------home banner container style start from here here----------------- */

.home{
  text-align: center;   
}

.title{
  padding-top: 210px;
  color:white;
  font-style: normal;
  font-size:65px;
  font-weight: 700;
  line-height: 79px;

}

.description{
    color: #FFFFFF;
    font-size:18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.donate-btn{
    padding: 15px 16px;
    border-radius: 5px;
    background-color: #FF5959;
    border:none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.fa-hand-holding-medical{
    padding: 5px;
}

/* Start donate today */

.donation-amount-container{
    text-align: center;
}

.section-title h1{
    color: #121212;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 20px;
}

.section-title p{
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

}

.all-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-items{
    color: #707070;
    font-weight: 900;
    font-size: 30px;
    padding:50px;

}
.category{
    padding: 30px;
    margin-bottom:10px;
  
}

#donate-amount{
    background: #FFEEEE;
    border:2px solid #FF5959;
    border-radius: 5px;
    color:#FF5959;
    
}

.amount-input{
    color: #B3B3B3;
    font-size: 16px;
    border:none;
    font-weight: 400;
    text-align: center;
    outline: none;
}

hr{
    width: 765px;
    margin:10px auto; 
}

.donate-btn a{
    text-decoration: none;
    color:white;
}

.primary-button{
    margin-top: 18px;
}

/* End donate today */

/* donate plane style start */

.section-title h1{
    text-align: center; 
    color: #121212;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-top: 100px;
}

.section-title p{
    color: #707070;
    text-align: center; 
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    
}
.package-description{
    display: flex;
    margin: 50px 180px 30px;
    line-height:24px ;
}

.icon1, .icon2, .icon3{
    width: 360px;
    height: 350px;
    margin-left: 20px;
    border-radius: 5px;
    padding-top: 50px;
}

.icon1, .icon-img1{
    background-color: rgba(79, 157, 166, 0.1);
}

.icon2, .icon-img2{
    background-color: rgba(255, 89, 89, 0.1);
   
}
.icon3, .icon-img3{
    background-color: #FFF4D6;
  
}

.icon1 h1{
    padding-bottom: 40px;
}
/* donate plane style End */


/* section gallery style Srart */

.section-gallery-container{
    background-color: #f4efef;
    padding:2px 0;
}

.highlight{
    color:#FF5959
}

.section-title h2{
    text-align: center;
    font-size: 45px;
    margin: 20px auto;
}

.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin:50px auto;
}

.photo img{
    width: 100%;
    height: 200px;
    cursor:zoom-in;
    object-fit: cover;
    border: 3px solid #f3e9e9;
}
/*  ssection gallery style End*/


/* Get Updates style start */
.input-from{
     text-align: center;
     background-color: #FFF4D6;
     border-radius:2px;
     margin-top:50px;
     margin-bottom: 100px;
     margin-left: 300px;
     margin-right: 300px;
     height: 200px;
}

.form-control{
    background-color:#D9D9D9;;
    border-radius: 5px 0px 0px 5px;
    color: white;
    border: none;
    font-size: 16px;
    padding-left: 40px;
    margin-top:70px ;
    height: 48px;
    width:280px ;

}
.btn-main{
    background-color: #FF5959;
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-size: 16px;
    width: 157px;
    height: 48px;
    border: none;
   
}

/* Get Update style End */


/* start footer area*/
.footer-container{
    text-align: center;
    margin-top: 10px;
}

.footer{
    padding:30px;
    background-color: black;
    color: white;
}

.footer h2{
    font-family: 'Lobster';
    font-style: italic;
    font-weight: 400;
    color:#FF5959;
    font-size:36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
    
}
.footer p{
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 400;
   color: #D9DBE1;
   font-size: 16px;
   line-height: 24px;
}
/* End footer area*/
